
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- GLOBAL STYLES -->
    
    <script src="~/js/jquery-3.5.1.min.js"></script>
</head>

<body class="login">

    <div >

        <div id="">
            <input placeholder="Credenciales" name="usuario" id="usuario" type="text">
        </div>
        <br />
        <div id="">
            <input placeholder="Contraseña" name="password" id="password" type="password" value="">
        </div>
        <br />
        <button type="button" id="AccederSistema">Acceder</button>
    </div>

    
    <script src="~/login/login.js"></script>

</body>

</html>

